body {
  background-image: linear-gradient(to right, #6e6e6e, #474747);
  padding: 0; 
  margin: 0;   
}
.hallo{
background:lightred;
border:none;
border: 2px solid #c75a00;
color:black;
text-align:center;
text-decoration:none;
display:inline-block;
cursor:pointer;
border-radius :;
box-shadow: 10px 10px 20px black;}
.imgone{padding: 5px}
.shadow{
background:lightred;
border:none;
color:black;e
text-align:center;
text-decoration:none;
display:inline-block;
cursor:pointer;
border-radius :;
box-shadow: 3px 3px 6px black;
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 150px; 
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #bfbfbf;
  text-shadow: 3px 3px 4px #1c1c1c;
  font-size: 40px;
  padding: 10px;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: #6b6b6b; 
}

.button {
  background-color: #a1a1a1; /* Green */
  border: 2px solid #555555;
  color: #000000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  width: 103px;
  height: 38px;
  margin: 4px 2px;
  size: 14px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}

.button:hover {
  background-color: #d9d9d9;
  color: #050047;

  
}

.font {
  font-family: 'Archivo Narrow';
  color: #d6d6d6;
  text-shadow: 3px 3px 4px #1c1c1c;
  font-size: 30px;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: #6b6b6b; 
}

.fontsec {
  font-family: McLaren;
  color: white;
  text-shadow: 3px 3px 4px #1c1c1c;
  font-size: 17px;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: #bfbfbf;
   width:650px;
}




@media screen and (max-width: 800px) {

    .fontsec {width: 88%;}
    .button {width: 22%;}
    .foot {width:85%;}
}

#icon {
  color: white;
  text-shadow: 1px 2px 6px black;
}

.foot {
  font-family: Andada;
  color: white;
  text-shadow: 3px 3px 4px #1c1c1c;
  font-size: 18px;
  padding: 30px 10px;
  font-weight: normal;
  display: inline-block;
}

.div-c{padding: 30px 20px;
display: inline-block;
}


.blinking{
    animation:blinkingText 1.0s infinite;
}
@keyframes blinkingText{

    0%  { color: white;       }
    49% { color: transparent; }
    50% { color: transparent; }
    99% { color:transparent;  }
   100% { color: white;       }
}
