body {
  background-image: linear-gradient(to right, gray, silver);
}
.hallo{
background:lightred;
border:none;
color:black;
text-align:center;
padding:13px;
text-decoration:none;
display:inline-block;
font-size:14px;
margin:3px 1/2px;
cursor:pointer;
border-radius :;
box-shadow: 10px 20px 30px gray;
