.hallo{
background:lightred;
border:none;
color:black;
text-align:center;
padding:13px;
text-decoration:none;
display:inline-block;
font-size:14px;
margin:3px 1/2px;
cursor:pointer;
border-radius :;
box-shadow: 10px 20px 30px gray;
}
#my {
    color: #CC9933;
    text-shadow: 1px 1px 2px black, 0 0 25px #339999, 0 0 5px darkblue;
}
#r {
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px silver;
}
.hallo {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}


.cap{
background-color:silver;
background:lightred;
border:none;
color:black;
text-align:center;
padding:5px;
text-decoration:none;
display:inline-block;
font-size:14px;
margin:3px 1/2px;
cursor:pointer;
border-radius :7px;
box-shadow: 10px 20px 30px gray;
}
.cap {
    background-color: white; 
    color: black; 
    border: 2px solid brown;
}

#g:hover{background:white;}
body{background
height:px;
background:-moz-linear-gradient(left,gray,silver);
}
body{background
    height: 200px;
    background: -webkit-repeating-linear-gradient(left,gray,silver); /* For Safari 5.1 to 6.0 */
    background: -o-repeating-linear-gradient(left,gray,silver); /* For Opera 11.1 to 12.0 */
    background: -moz-repeating-linear-gradient(left,gray,silver); /* For Firefox 3.6 to 15 */
    background: repeating-linear-gradient(left,gray,silver); /* Standard syntax (must be last) */
}
}
#k{color:green}
#g{color:black}

#m:hover{background:white}
#t:hover{background:#FFFFCC}
.button {
    position: relative;
    background-color: darksilver;
    border: none;
    font-size: 15px;
    color: black;
    padding: 2px 6px;
    width: 90px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
#h {
    width: 190px;
    height: 190px;
    background-color: ;
    color:none ;
    -webkit-animation: mymove 2s infinite; 
    animation: mymove 2s infinite;
}



@-webkit-keyframes mymove {
    50% {box-shadow: 10px 20px 30px black;width: 200px;
    height: 190px;}

}


@keyframes mymove {
    50% {box-shadow: 10px 20px 30px black;width: 200px;
    height: 190px;}
}
#q{border-radius:10px}