body {
    font-family: Arial, sans-serif;
    background-color: #0D0C1D;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1; /* This makes the container grow and take up available space */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}
.content {
    background: linear-gradient(135deg, #242042, #1D1A35);
    border-radius: 20px;
    padding: 40px;
    margin-top: 40px;
}
.tag {
    background-color: #9966cc;
    color: #1a0033;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
}
h1 {
    font-size: 36px;
    margin: 20px 0;
}
.cta-button {
    background-color: white;
    color: #1a0033;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
/* Mobile view styling */
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(10, 9, 21, 0.95); /* Background with less transparency */
        position: fixed; /* Use fixed to cover the entire screen */
        top: 0;
        left: 0; /* Align to the left */
        padding: 20px 0;
        border-radius: 0;
        list-style-type: none; /* Remove bullet points */
        z-index: 1000; /* Ensure it stays on top */
    }
    nav a {
        margin: 20px 0;
        text-align: left; /* Align text to the left */
        padding: 0 20px; /* Add padding for better spacing */
        font-size: 20px; /* Adjust font size as needed */
    }
    .menu-toggle {
        display: flex;
    }
    nav.show {
        display: flex;
    }
}
/* Footer Styling */
.footer 
